.gallery-container4 {
  align-items: center;
  flex-direction: row-reverse;
  display: flex;
  justify-content: flex-end;
  margin-top: 5rem;
  height: 14rem;
  margin: auto;
}

.gallery-item4 {
  height: 16rem;
  width: 16rem;
  opacity: 0;
  transition: all 0.3s ease-in-out;
  z-index: 0;
}

.gallery-item4-1 {
  opacity: 1;
}

.gallery-item4-1 {
  opacity: 1;
  z-index: 1;
  filter: brightness(50%);
}

.gallery-item4-2 {
  opacity: 1;
  z-index: 1;
  filter: brightness(50%);
}

.gallery-item4-3 {
  height: 20rem;
  width: 20rem;
  opacity: 1;
  z-index: 2;
}

.gallery-controls4 {
  margin-top: 2rem;
  margin-left: 0.7rem;
  position: absolute;
}

.gallery-controls4 button {
  border: 0;
  cursor: pointer;
}


.gallery-controls4-next {
  position: relative;
  background-repeat: no-repeat;
  background-position: center;
  margin-left: 1rem;
  text-decoration: none !important;
}

.gallery-controls4-previous {
  position: relative;
  background-repeat: no-repeat;
  background-position: center;
  text-decoration: none !important;
}

@media (max-width: 1482px) {
  .gallery-container4 {
    align-items: center;
    flex-direction: row-reverse;
    margin-top: 5rem;
  }

  .gallery-item4 {
    height: 13rem;
    width: 13rem;
    opacity: 0;
    transition: all 0.3s ease-in-out;
    z-index: 0;
  }

  .gallery-item4-1 {
    opacity: 1;
    display: none;
  }

  .gallery-item4-1 {
    opacity: 1;
    z-index: 1;
    filter: brightness(50%);
  }

  .gallery-item4-2 {
    opacity: 1;
    z-index: 1;
    filter: brightness(50%);
  }

  .gallery-item4-3 {
    height: 16rem;
    width: 16rem;
    opacity: 1;
    z-index: 2;
  }
}

@media (min-width: 1203px) {
  .gallery-container4 {
    align-items: center;
    flex-direction: row-reverse;
    margin-top: 5rem;
  }

  .gallery-item4 {
    height: 13rem;
    width: 13rem;
    opacity: 0;
    transition: all 0.3s ease-in-out;
    z-index: 0;
  }

  .gallery-item4-1 {
    opacity: 1;
  }

  .gallery-item4-1 {
    opacity: 1;
    z-index: 1;
    filter: brightness(50%);
  }

  .gallery-item4-2 {
    opacity: 1;
    z-index: 1;
    filter: brightness(50%);
  }

  .gallery-item4-3 {
    height: 16rem;
    width: 16rem;
    opacity: 1;
    z-index: 2;
  }
}

@media (max-width: 1202px) {
  .gallery-container4 {
    align-items: center;
    flex-direction: row-reverse;
    margin-top: 5rem;
  }

  .gallery-item4 {
    height: 13rem;
    width: 13rem;
    opacity: 0;
    transition: all 0.3s ease-in-out;
    z-index: 0;
  }

  .gallery-item4-1 {
    opacity: 1;
    z-index: 1;
    filter: brightness(50%);
  }

  .gallery-item4-2 {
    opacity: 1;
    z-index: 1;
    filter: brightness(50%);
  }

  .gallery-item4-3 {
    height: 16rem;
    width: 16rem;
    opacity: 1;
    z-index: 2;
  }
}

@media (max-width: 991.3px) {
  .gallery-container4 {
    align-items: center;
    flex-direction: row-reverse;
    margin-top: 2rem;
  }

  .gallery-item4 {
    height: 13rem;
    width: 13rem;
    opacity: 0;
    transition: all 0.3s ease-in-out;
    z-index: 0;
  }

  .gallery-item4-1 {
    opacity: 1;
    display: block;
  }

  .gallery-item4-1 {
    opacity: 1;
    z-index: 1;
    filter: brightness(50%);
  }

  .gallery-item4-2 {
    opacity: 1;
    z-index: 1;
    filter: brightness(50%);
  }

  .gallery-item4-3 {
    height: 16rem;
    width: 16rem;
    opacity: 1;
    z-index: 2;
  }

  .gallery-controls4 {
    display: flex;
    justify-content: start;
    margin-top: 1rem;
    margin-left: 0.7rem;
    padding-bottom: 2rem;
  }
}

@media (max-width: 767.5px) {
  .gallery-container4 {
    align-items: center;
    flex-direction: row-reverse;
    margin-top: 2rem;
  }

  .gallery-item4 {
    height: 13rem;
    width: 13rem;
    opacity: 0;
    transition: all 0.3s ease-in-out;
    z-index: 0;
  }

  .gallery-item4-1 {
    opacity: 1;
    display: none;
  }

  .gallery-item4-1 {
    opacity: 1;
    z-index: 1;
    filter: brightness(50%);
  }

  .gallery-item4-2 {
    opacity: 1;
    z-index: 1;
    filter: brightness(50%);
  }

  .gallery-item4-3 {
    height: 16rem;
    width: 16rem;
    opacity: 1;
    z-index: 2;
  }

  .gallery-controls4 {
    display: flex;
    justify-content: start;
    margin-top: 1rem;
    margin-left: 0.7rem;
    padding-bottom: 2rem;
  }
}

@media (max-width: 500px) {
  .gallery-container4 {
    align-items: center;
    flex-direction: row-reverse;
    margin-top: 1rem;
  }

  .gallery-item4 {
    height: 13rem;
    width: 13rem;
    opacity: 0;
    transition: all 0.3s ease-in-out;
    z-index: 0;
  }

  .gallery-item4-1 {
    opacity: 1;
    display: none;
  }

  .gallery-item4-1 {
    opacity: 1;
    z-index: 1;
    filter: brightness(50%);
  }

  .gallery-item4-2 {
    opacity: 1;
    z-index: 1;
    filter: brightness(50%);
    display: none;
  }

  .gallery-item4-3 {
    height: 16rem;
    width: 16rem;
    opacity: 1;
    z-index: 2;
  }

  .gallery-controls4 {
    display: flex;
    justify-content: start;
    margin-top: 1rem;
    margin-left: 0.7rem;
    padding-bottom: 2rem;
  }
}